$theme-color-primary: rgba(14, 16, 83, 1);
$btn-color-primary: rgba(85, 93, 255, 1);

$font-color-primary: rgba(255, 255, 255, 1);
$font-color-secondary: rgba(14, 16, 83, 1);

$selected-nav-color: linear-gradient(
  90deg,
  rgba(85, 93, 255, 0.3) 0%,
  rgba(85, 93, 255, 3e-5) 92.31%
);
